/tmp
.DS_Store
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/docs/
/pkg/
/spec/reports/
/vendor/
/tmp/
/.tags
*~
\#*
.\#*

.venv/
LLMs-from-scratch/

c7_instruction_tuning/gpt2/355M/model.ckpt.data-00000-of-00001
c5_pre_train/chomsky_model.pth
c5_pre_train/model.pth
c5_pre_train/crime_and_punish_model.pth
c5_pre_train/gpt2/124M/model.ckpt.data-00000-of-00001
